// Font path
$font-path: '/assets/fonts';

// Font sizes
$default-font-size: 16px;
$tv-sm-font-size: 20px;
$tv-sm-full-font-size: 24px;
$tv-md-font-size: 28px;
$tv-lg-font-size: 36px;
$body-font: 14px;
